<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div>
                <h1><i class="material-icons icon-star">star</i></h1>
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
            </div>
           
            <div class="cart-icon">
                <a [routerLink]="['/']" class="btn btn-primary"><i
                        class="material-icons icon-cart">shopping_cart</i></a>
            </div>
            <div class="top-cart" *ngIf="getItemSize()>-1">
                <p>{{getItemSize()}}</p>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
    <!-- <a [routerLink]="['/cart']" class="btn btn-primary"><i class="material-icons">shopping_cart</i>Checkout</a> -->
</div>

<!-- <div class="top-cart" *ngIf="getItemSize()>-1">
    <p>{{getItemSize()}}</p>
</div> -->